.slider {
  max-width: 800px;
  margin: 0 auto;
}

.block {
  background-color: #a1eda1;
  height: 300px;
  padding-top: 100px;
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: #a1eda1;
}
